/* BANNER */

.bannerBg {
  background-image: url('../../../assets/images/bannerBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75rem;
  position: relative;

  .bannerContent {
    border-radius: 10px;
    background: #fff3e3;
    padding-left: 41px;
    position: absolute;
    width: 643px;
    left: 51.2%;
    top: 50%;
    transform: translateY(-50%);

    h3 {
      padding-top: 62px;
      font-size: 1.6rem;
    }

    h1 {
      color: var(--primary, #b88e2f);
      font-size: 5.2rem;
      margin: 4px 0 17px 0;
    }

    p {
      color: var(--font-color, #333);
      font-size: 1.8rem;
      font-weight: 500;
    }

    .btnBuyNow {
      background-color: var(--primary, #b88e2f);
      padding: 25px 72px;
      border: none;
      color: #fff;
      font-weight: 700;
      font-size: 1.8rem;
      cursor: pointer;
      margin: 46px 0 37px 0;
    }
  }
}
