/* CATEGORY */
.category {
  .categoryHeading,
  .categoryList {
    text-align: center;
  }

  .categoryHeading {
    margin: 45px 0;
    h2 {
      font-size: 3.2rem;
    }

    p {
      margin-top: 10px;
      font-size: 2rem;
    }
  }

  .categoryItems {
    display: flex;
    justify-content: space-between;
    .categoryList {
      img {
        border-radius: 10px;
        width: 38.1rem;
        height: 48rem;
      }

      p {
        margin-top: 20px;
        font-size: 24px;
        color: #000;
        font-weight: 600;
      }
    }
  }
}
